<% if user_logged_in? %>
	<h4>Hello <%= @user.name %></h4>
	<%= link_to "Sign out", signout_path, class: "button py2 m0 button-nav-dark" %>
<% else %>
	<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>
<p>Find me in app/views/user/index.html.erb</p>
