<% if user_logged_in? %>
	<h4>Hello <%= @user.name %></h4>
	<%= link_to "Logout", logout_path, :method => 'post' %>
	<br>
	<%= session[:auth] %>
	<br>
	<%= @inbox %>
<% else %>
	<h4><a href="/auth/google_oauth2">Login with Google</a></h4>
<% end %>
<p>Find me in app/views/user/index.html.erb</p>
